.hleft > img {
  width: 42px;
  height: 42px;
  border-radius: 360px;
  margin-right: 5px;
}
.hleft {
  display: flex;
  align-items: center;
  margin: 0px -57px 0px 0px;
}
.hleft > p {
  color: gray;
}
.header {
  width: 100%;
  display: flex;
  margin: 0px 0px -30px 0px;
}
.hright {
  display: flex;
  align-items: center;
}
.hright > img {
  width: 33px;
  height: 33px;
  transform: rotate(90deg);
}

.hleft > .galochka {
  margin-left: 5px;
  width: 17px;
  height: 17px;
}
