.form {
  width: 340px;
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid rgb(197, 197, 197);
  margin: 45px auto;
  border-radius: 3px;
  text-align: center;
}
form > a {
  font-size: 13px;
  text-decoration: none;
  color: #00376b;
}
