.btn {
  background: #4db5f9;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  width: 258px;
}

.btn:hover {
  cursor: pointer;
  background: #0095f6;
}
.container > hr {
  width: 100px;
  height: 0;
  border: none;
  background-color: hwb(0deg 86% 14%);
  color: hwb(0deg 86% 14%);
  height: 1px;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
}
.container > p {
  color: #8e8e8e;
  font-size: 0.8125rem;
  font-family: sans-serif;
  font-size: 11px;
  margin-right: 18px;
  margin-left: 18px;
}
.container2 > img {
  width: 16px;
  height: 15px;
  margin: 0 auto;
}
.container2 > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  color: #385185;
}
.container2 {
  display: flex;
}
.container3 {
  width: 340px;
  display: grid;
  padding: 15px;
  background: #fff;
  border: 1px solid rgb(197, 197, 197);
  margin-top: -35px;
}
.container3 {
  display: flex;
  font-size: smaller;
}
.container3 > p > a {
  text-decoration: none;
  color: #0095f6;
  margin-left: 5px;
  font-weight: bold;
}
.container4 {
  width: 340px;
  display: grid;
  padding: 15px;
  font-size: smaller;
}
.container4 > .imagesicon > img {
  margin: 15px 0 7px 7px;
  width: 130px;
  height: 40px;
}
.iconimg > img {
  position: absolute;
  top: 0;
  left: 230px;
  padding-top: 10px;
  width: 350px;
  height: 550px;
  display: none;
}
.pageContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.lines > .line1 > img {
  border-radius: 360px;
  width: 42px;
  height: 42px;
}
.lines > .line1 {
  display: flex;
}
.line1 > p {
  padding: 32px 0 0 10px;
  font-weight: bold;
}
.postsContainer {
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.lines {
  display: flex;
  width: 90%;
}
.lines .line2 > img {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
  margin-top: 30px;
}
.postsContainer > img {
  width: 468px;
  height: 468px;
  margin-top: -10px;
  border-radius: 0.2em;
}
.lin1 > img {
  width: 24px;
  height: 24px;
}
.lin1 {
  width: 15vh;
  display: flex;
  justify-content: space-evenly;
}
.lines2 {
  margin-top: -25px;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.lin2 > img {
  width: 24px;
  height: 24px;
}
.postsContainer > p {
  margin: -10px 0 0 170px;
  font-size: small;
  font-weight: bold;
}
.text {
  margin-top: 10px;
  width: 57vh;
}
.text p > b {
  margin-right: 5px;
}
.transparent > img {
  width: 20px;
  height: 20px;
  margin: 0 15px -37px 5px;
}
